<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Vacancy Advisor</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Vacancy Advisor</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-autod">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/form">Форма</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contacts">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="contacts-section px-5">
    {% for contact in contacts %}
    <div class="card card-default mb-5" id="card_contacts">
      <div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
          <ul class="list-group pull-down" id="contact-list">
              <li class="list-group-item">
                  <div class="row w-100">
                      <div class="col-12 col-sm-6 col-md-3 px-0">
                        {% if contact.img_src %}
                          <img src="{{contact.img_src}}" alt="{{contact.name}}" class="img-fluid rounded-circle d-block mx-auto">
                        {% else %}
                          <img src="/static/img/placeholder.jpeg" alt="{{contact.name}}" class="img-fluid rounded-circle d-block mx-auto">
                        {% endif %}
                      </div>
                      <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                          <span class="name lead">{{contact.name}}</span>
                          <br>
                          <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title=""></span>
                          <span class="text-muted">{{contact.city}}</span>
                          {% if contact.email %}
                          <br>
                          <span class="fas fa-at fa-fw text-muted" data-toggle="tooltip" title=""></span>
                          <span class="text-muted small">{{contact.email}}</span>
                          {% endif %}
                          {% if contact.vk %}
                          <br>
                          <span class="fab fa-vk fa-fw text-muted" data-toggle="tooltip" title=""></span>
                          <span class="text-muted small">{{contact.vk}}</span>
                          {% endif %}
                          {% if contact.telegram %}
                          <br>
                          <span class="fab fa-telegram fa-fw text-muted" data-toggle="tooltip" title=""></span>
                          <span class="text-muted small text-truncate">{{contact.telegram}}</span>
                          {% endif %}
                      </div>
                  </div>
              </li>
          </ul>
          <!--/contacts list-->
      </div>
    </div>
    {% endfor %}
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      No copyright &copy; Vacancy Advisor 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
